<h1>This is da index on my awesome web app</h1>
<hr /> 
<%= @posts.each do |post| %>
	<div class="booyah-box">
		<h2><%= post.title %></h2>
		<p><%= post.description %></p>
	</div>
<hr /> 	
<% end %>	