<h1>This is da index on my awesome web app</h1>
<hr /> 
<%= @posts.each do |post| %>
	<div class="box-in-posts">
		<h2><%= link_to post.title, post_path(post) %></h2><br />
		<p><%= post.description %></p><br />

		<% if post.user.present? %>
			<small><%= post.user.email %></small>
		<% end %>	
	</div>
<hr /> 	
<% end %>	