
@font-face {
    font-family: 'kelvinizednormal';
    src: url('/assests/kelvinized-webfont.eot');
    src: url('/assests/kelvinized-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assests/kelvinized-webfont.woff2') format('woff2'),
         url('/assests/kelvinized-webfont.woff') format('woff'),
         url('/assests/kelvinized-webfont.ttf') format('truetype'),
         url('/assests/kelvinized-webfont.svg#kelvinizednormal') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'deftone_stylusregular';
    src: url('/assets/deftone-webfont.eot');
    src: url('/assets/deftone-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/deftone-webfont.woff2') format('woff2'),
         url('/assets/deftone-webfont.woff') format('woff'),
         url('/assets/deftone-webfont.ttf') format('truetype'),
         url('/assets/deftone-webfont.svg#deftone_stylusregular') format('svg');
    font-weight: normal;
    font-style: normal;

}